.home{
    color: cadetblue;
    background-color: azure;
    font-size: medium;
    height: auto;
    align-items: center;
    min-height: 100%;
    padding-bottom: 20px;
}
.textbox{
    display: flex;
    justify-content:center;
    align-items: left;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    border-radius: 8px;
    border: 1.5px solid #A9A9A9;
    width: 80%;
    margin-left: 10%;
    margin-right: 25%;
   
}
.h1{
   margin-top: 20px;
   margin-bottom: 30px;
}
.wrap{
    margin-left: 50px;
    flex-shrink: 0;
    
}
/* .scroll {
    height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
   */