.wrap{
  .scroll {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  font-family: Roboto;
}
  
.top{
    display: flex;
    justify-content:center;
    align-items: left;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    border-radius: 8px;
    border: 1.5px solid #A9A9A9;
    width: 79vw;
    height: 330px;
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    overflow: auto;
    font-family: Roboto;
}
.toph3{
  color: rgb(255, 77, 0);
  font-family: Roboto;
}
.h1{
  margin-top: 2vw;
  color: rgb(255, 77, 0);
  font-family: Roboto;
}
.p{
  line-height: 40px;
  font-family: Roboto;
}
.carousel{
    width: 80%;
    height: 400px;
    border-radius: 8px;
    border: 1.5px solid #A9A9A9;
    /* margin-left: 10%;
    margin-right: 25%; */
    width: 79vw;
    height: 50vh;
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Roboto;
    overflow: auto;
}
.carowrap{
  overflow: auto;
  display: flex;
  justify-content: center;

}
.h3{
  margin-top: 40px;
  line-height: 60px;
  font-family: Roboto;
}
