
.footerInfo{
    align-items: center;
    align-content: center;
}
.wrap{
    width:100vw;
    display: flex;
	justify-content: center;
	height: 13vh;
    border-top:1px solid black;
    padding-top: 10px; 
    bottom: 0;
    background-color: rgba(233, 233, 239, 0.083);
    margin-top: 40px;
   
}
.btn{
    width: 250px;
    height: 20px;
    border: none;
    border-radius: 60px;
    background-color: whitesmoke;
    font-family: Roboto;
}