.footer{
    position: fixed;
    bottom: 0;
    width:100vw;
    background-color: skyblue;
    padding: 10px;
}
.footerInfo{
    align-items: center;
    align-content: center;
}
.wrap{
    border-top:1px solid black;
    position: fixed;
    bottom: 0;
    width:100vw;
    background-color: whitesmoke;
    padding: 10px;
    font-family: Roboto;
    font-size: 6px;
}